USE [master]
GO
/****** Object:  Database [warehouse]    Script Date: 27.02.2025 16:31:52 Часы ******/
CREATE DATABASE [warehouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'warehouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\warehouse.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'warehouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\warehouse_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [warehouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [warehouse]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ContactDetails] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExpenditureInvoices]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenditureInvoices](
	[ExpenditureInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [bigint] NULL,
	[ShippingDate] [date] NULL,
	[ClientID] [int] NULL,
	[ProductsList] [nvarchar](50) NULL,
	[TotalAmount] [nvarchar](50) NULL,
 CONSTRAINT [PK_РасходныеНакладные] PRIMARY KEY CLUSTERED 
(
	[ExpenditureInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IncomingInvoices]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomingInvoices](
	[IncomingInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [bigint] NULL,
	[DateReceipt] [date] NULL,
	[SupplierID] [int] NULL,
	[ProductsList] [nvarchar](50) NULL,
	[TotalAmount] [nvarchar](50) NULL,
 CONSTRAINT [PK_ПриходныеНакладные] PRIMARY KEY CLUSTERED 
(
	[IncomingInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[DateEvent] [date] NULL,
	[Responsible] [int] NULL,
	[Results] [nvarchar](50) NULL,
 CONSTRAINT [PK_Инвентаризация] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Article] [int] NULL,
	[Barcode] [varchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[UnitOfMeasurement] [nvarchar](50) NULL,
	[UnitPrice] [float] NULL,
	[SerialNumber] [int] NULL,
	[MinBalance] [int] NULL,
 CONSTRAINT [PK_Товары] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductsExpenditureInvoices]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsExpenditureInvoices](
	[ProductsExpenditureInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[ExpenditureInvoiceID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [bigint] NULL,
	[Price] [nvarchar](50) NULL,
 CONSTRAINT [PK_ТоварыВРасходныхНакладных] PRIMARY KEY CLUSTERED 
(
	[ProductsExpenditureInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductsIncomingInvoices]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsIncomingInvoices](
	[ProductsIncomingInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[IncomingInvoiceID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [bigint] NULL,
	[Price] [nvarchar](50) NULL,
 CONSTRAINT [PK_ТоварыВПриходныхНакладных] PRIMARY KEY CLUSTERED 
(
	[ProductsIncomingInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductsInventory]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsInventory](
	[ProductsInventoryID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NULL,
	[ProductID] [int] NULL,
	[ActualQuantity] [bigint] NULL,
	[AccountingQuantity] [bigint] NULL,
 CONSTRAINT [PK_ТоварыВИнвентаризации] PRIMARY KEY CLUSTERED 
(
	[ProductsInventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductsInWarehouses]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsInWarehouses](
	[ProductInWarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[WarehouseID] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_ProductsInWarehouses] PRIMARY KEY CLUSTERED 
(
	[ProductInWarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[INN] [bigint] NULL,
	[ContactDetails] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_Поставщики] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 27.02.2025 16:31:52 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[StorageArea] [nvarchar](50) NULL,
 CONSTRAINT [PK_Склады] PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Name], [Article], [Barcode], [Category], [UnitOfMeasurement], [UnitPrice], [SerialNumber], [MinBalance]) VALUES (1, N'Товар1', 745678, N'646456', N'Категория А', N'1', 347, 46575, 786)
INSERT [dbo].[Products] ([ProductID], [Name], [Article], [Barcode], [Category], [UnitOfMeasurement], [UnitPrice], [SerialNumber], [MinBalance]) VALUES (2, N'Товар2', 567567, N'345345', N'Категория Б', N'1', 200, 24343, 436)
INSERT [dbo].[Products] ([ProductID], [Name], [Article], [Barcode], [Category], [UnitOfMeasurement], [UnitPrice], [SerialNumber], [MinBalance]) VALUES (3, N'Товар3', 764768, N'453894', N'Категория В', N'1', 300, 87653, 572)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[ProductsInWarehouses] ON 

INSERT [dbo].[ProductsInWarehouses] ([ProductInWarehouseID], [ProductID], [WarehouseID], [Quantity]) VALUES (1, 1, 1, 20)
INSERT [dbo].[ProductsInWarehouses] ([ProductInWarehouseID], [ProductID], [WarehouseID], [Quantity]) VALUES (2, 2, 2, 40)
INSERT [dbo].[ProductsInWarehouses] ([ProductInWarehouseID], [ProductID], [WarehouseID], [Quantity]) VALUES (3, 3, 3, 60)
SET IDENTITY_INSERT [dbo].[ProductsInWarehouses] OFF
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([WarehouseID], [Name], [Address], [Type], [StorageArea]) VALUES (1, N'Склад 1', N'ул. Пешкина', N'Тип А', N'Зона А')
INSERT [dbo].[Warehouses] ([WarehouseID], [Name], [Address], [Type], [StorageArea]) VALUES (2, N'Склад 2', N'ул. Петрова', N'Тип Б', N'Зона Б')
INSERT [dbo].[Warehouses] ([WarehouseID], [Name], [Address], [Type], [StorageArea]) VALUES (3, N'Склад 3', N'ул. Иванова', N'Тип В', N'Зона В')
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
ALTER TABLE [dbo].[ExpenditureInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ExpenditureInvoices_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[ExpenditureInvoices] CHECK CONSTRAINT [FK_ExpenditureInvoices_Clients]
GO
ALTER TABLE [dbo].[IncomingInvoices]  WITH CHECK ADD  CONSTRAINT [FK_IncomingInvoices_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[IncomingInvoices] CHECK CONSTRAINT [FK_IncomingInvoices_Suppliers]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Employees] FOREIGN KEY([Responsible])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Employees]
GO
ALTER TABLE [dbo].[ProductsExpenditureInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ProductsExpenditureInvoices_ExpenditureInvoices] FOREIGN KEY([ExpenditureInvoiceID])
REFERENCES [dbo].[ExpenditureInvoices] ([ExpenditureInvoiceID])
GO
ALTER TABLE [dbo].[ProductsExpenditureInvoices] CHECK CONSTRAINT [FK_ProductsExpenditureInvoices_ExpenditureInvoices]
GO
ALTER TABLE [dbo].[ProductsExpenditureInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ProductsExpenditureInvoices_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductsExpenditureInvoices] CHECK CONSTRAINT [FK_ProductsExpenditureInvoices_Products]
GO
ALTER TABLE [dbo].[ProductsIncomingInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ProductsIncomingInvoices_IncomingInvoices] FOREIGN KEY([IncomingInvoiceID])
REFERENCES [dbo].[IncomingInvoices] ([IncomingInvoiceID])
GO
ALTER TABLE [dbo].[ProductsIncomingInvoices] CHECK CONSTRAINT [FK_ProductsIncomingInvoices_IncomingInvoices]
GO
ALTER TABLE [dbo].[ProductsIncomingInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ProductsIncomingInvoices_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductsIncomingInvoices] CHECK CONSTRAINT [FK_ProductsIncomingInvoices_Products]
GO
ALTER TABLE [dbo].[ProductsInventory]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInventory_Inventory] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[ProductsInventory] CHECK CONSTRAINT [FK_ProductsInventory_Inventory]
GO
ALTER TABLE [dbo].[ProductsInventory]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInventory_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductsInventory] CHECK CONSTRAINT [FK_ProductsInventory_Products]
GO
ALTER TABLE [dbo].[ProductsInWarehouses]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInWarehouses_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductsInWarehouses] CHECK CONSTRAINT [FK_ProductsInWarehouses_Products]
GO
ALTER TABLE [dbo].[ProductsInWarehouses]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInWarehouses_Warehouses] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[ProductsInWarehouses] CHECK CONSTRAINT [FK_ProductsInWarehouses_Warehouses]
GO
USE [master]
GO
