USE [master]
GO
/****** Object:  Database [warehouse]    Script Date: 03.03.2025 16:33:24 Часы ******/
CREATE DATABASE [warehouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'warehouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\warehouse.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'warehouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\warehouse_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [warehouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [warehouse]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ContactDetails] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClientsOrders]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientsOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NULL,
	[ProductID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[QuantityProduct] [nvarchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExpenditureInvoices]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenditureInvoices](
	[ExpenditureInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [bigint] NULL,
	[ShippingDate] [date] NULL,
	[ClientID] [int] NULL,
	[ProductsList] [nvarchar](50) NULL,
	[TotalAmount] [nvarchar](50) NULL,
 CONSTRAINT [PK_РасходныеНакладные] PRIMARY KEY CLUSTERED 
(
	[ExpenditureInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IncomingInvoices]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomingInvoices](
	[IncomingInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [bigint] NULL,
	[DateReceipt] [date] NULL,
	[SupplierID] [int] NULL,
	[ProductsList] [nvarchar](50) NULL,
	[TotalAmount] [nvarchar](50) NULL,
 CONSTRAINT [PK_ПриходныеНакладные] PRIMARY KEY CLUSTERED 
(
	[IncomingInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[DateEvent] [date] NULL,
	[Responsible] [int] NULL,
	[Results] [nvarchar](50) NULL,
 CONSTRAINT [PK_Инвентаризация] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Article] [int] NULL,
	[Barcode] [varbinary](max) NULL,
	[Category] [nvarchar](50) NULL,
	[UnitOfMeasurement] [nvarchar](50) NULL,
	[UnitPrice] [float] NULL,
	[SerialNumber] [int] NULL,
	[MinBalance] [int] NULL,
 CONSTRAINT [PK_Товары] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductsExpenditureInvoices]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsExpenditureInvoices](
	[ProductsExpenditureInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[ExpenditureInvoiceID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [bigint] NULL,
	[Price] [nvarchar](50) NULL,
 CONSTRAINT [PK_ТоварыВРасходныхНакладных] PRIMARY KEY CLUSTERED 
(
	[ProductsExpenditureInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductsIncomingInvoices]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsIncomingInvoices](
	[ProductsIncomingInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[IncomingInvoiceID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [bigint] NULL,
	[Price] [nvarchar](50) NULL,
 CONSTRAINT [PK_ТоварыВПриходныхНакладных] PRIMARY KEY CLUSTERED 
(
	[ProductsIncomingInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductsInventory]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsInventory](
	[ProductsInventoryID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NULL,
	[ProductID] [int] NULL,
	[ActualQuantity] [bigint] NULL,
	[AccountingQuantity] [bigint] NULL,
 CONSTRAINT [PK_ТоварыВИнвентаризации] PRIMARY KEY CLUSTERED 
(
	[ProductsInventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductsInWarehouses]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsInWarehouses](
	[ProductInWarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[WarehouseID] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_ProductsInWarehouses] PRIMARY KEY CLUSTERED 
(
	[ProductInWarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[INN] [int] NULL,
	[ContactDetails] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_Поставщики] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SuppliersOrders]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuppliersOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NULL,
	[ProductID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[QuantityProduct] [nvarchar](50) NULL,
 CONSTRAINT [PK_SuppliersOrders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 03.03.2025 16:33:24 Часы ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[StorageArea] [nvarchar](50) NULL,
 CONSTRAINT [PK_Склады] PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [Name], [ContactDetails], [Address]) VALUES (1, N'Володя', N'59358', N'ул. Первая')
INSERT [dbo].[Clients] ([ClientID], [Name], [ContactDetails], [Address]) VALUES (2, N'Ваня', N'76989', N'ул. Вторая')
INSERT [dbo].[Clients] ([ClientID], [Name], [ContactDetails], [Address]) VALUES (3, N'Серёга', N'74356', N'ул. Третья')
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[ClientsOrders] ON 

INSERT [dbo].[ClientsOrders] ([OrderID], [ClientID], [ProductID], [Name], [QuantityProduct]) VALUES (1, 3, 1, N'Заказ на 40 пачек чипсов', N'40')
SET IDENTITY_INSERT [dbo].[ClientsOrders] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [Firstname], [Lastname], [Login], [Password], [Email], [Role]) VALUES (1, N'Никита', N'Хохрин', N'Admin', N'Admin', N'admin@mail.ru', N'Администратор')
INSERT [dbo].[Employees] ([EmployeeID], [Firstname], [Lastname], [Login], [Password], [Email], [Role]) VALUES (2, N'Иван', N'Иванов', N'Clad', N'Clad', N'clad@mail.ru', N'Кладовщик')
INSERT [dbo].[Employees] ([EmployeeID], [Firstname], [Lastname], [Login], [Password], [Email], [Role]) VALUES (3, N'Сергей', N'Сергеев', N'Manager', N'Manager', N'manager@mail.ru', N'Менеджер по продажам')
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[ExpenditureInvoices] ON 

INSERT [dbo].[ExpenditureInvoices] ([ExpenditureInvoiceID], [InvoiceNumber], [ShippingDate], [ClientID], [ProductsList], [TotalAmount]) VALUES (1, 2, CAST(N'2024-01-10' AS Date), 3, N'Самсунги', N'100000')
SET IDENTITY_INSERT [dbo].[ExpenditureInvoices] OFF
SET IDENTITY_INSERT [dbo].[IncomingInvoices] ON 

INSERT [dbo].[IncomingInvoices] ([IncomingInvoiceID], [InvoiceNumber], [DateReceipt], [SupplierID], [ProductsList], [TotalAmount]) VALUES (1, 5, CAST(N'2025-03-03' AS Date), 2, N'БОМЖ', N'600')
SET IDENTITY_INSERT [dbo].[IncomingInvoices] OFF
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([InventoryID], [DateEvent], [Responsible], [Results]) VALUES (1, CAST(N'2025-02-28' AS Date), 4, N'Успешно')
INSERT [dbo].[Inventory] ([InventoryID], [DateEvent], [Responsible], [Results]) VALUES (2, CAST(N'2020-04-10' AS Date), 4, N'Провально')
SET IDENTITY_INSERT [dbo].[Inventory] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[ProductsInWarehouses] ON 

INSERT [dbo].[ProductsInWarehouses] ([ProductInWarehouseID], [ProductID], [WarehouseID], [Quantity]) VALUES (1, 1, 1, 20)
INSERT [dbo].[ProductsInWarehouses] ([ProductInWarehouseID], [ProductID], [WarehouseID], [Quantity]) VALUES (2, 2, 2, 40)
INSERT [dbo].[ProductsInWarehouses] ([ProductInWarehouseID], [ProductID], [WarehouseID], [Quantity]) VALUES (3, 3, 3, 60)
SET IDENTITY_INSERT [dbo].[ProductsInWarehouses] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [Name], [INN], [ContactDetails], [Address]) VALUES (1, N'Поставщик 1', 473567, N'41234', N'ул. Раз')
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [INN], [ContactDetails], [Address]) VALUES (2, N'Поставщик 2', 700981, N'75786', N'ул. Два')
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [INN], [ContactDetails], [Address]) VALUES (3, N'Поставщик 3', 256145, N'13687', N'ул. Три')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
SET IDENTITY_INSERT [dbo].[SuppliersOrders] ON 

INSERT [dbo].[SuppliersOrders] ([OrderID], [SupplierID], [ProductID], [Name], [QuantityProduct]) VALUES (1, 2, 2, N'Заказик первый', N'100')
SET IDENTITY_INSERT [dbo].[SuppliersOrders] OFF
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([WarehouseID], [Name], [Address], [Type], [StorageArea]) VALUES (1, N'Склад 1', N'ул. Пешкина', N'Тип А', N'Зона А')
INSERT [dbo].[Warehouses] ([WarehouseID], [Name], [Address], [Type], [StorageArea]) VALUES (2, N'Склад 2', N'ул. Петрова', N'Тип Б', N'Зона Б')
INSERT [dbo].[Warehouses] ([WarehouseID], [Name], [Address], [Type], [StorageArea]) VALUES (3, N'Склад 3', N'ул. Иванова', N'Тип В', N'Зона В')
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
ALTER TABLE [dbo].[ClientsOrders]  WITH CHECK ADD  CONSTRAINT [FK_ClientsOrders_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[ClientsOrders] CHECK CONSTRAINT [FK_ClientsOrders_Clients]
GO
ALTER TABLE [dbo].[ClientsOrders]  WITH CHECK ADD  CONSTRAINT [FK_ClientsOrders_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ClientsOrders] CHECK CONSTRAINT [FK_ClientsOrders_Products]
GO
ALTER TABLE [dbo].[ExpenditureInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ExpenditureInvoices_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[ExpenditureInvoices] CHECK CONSTRAINT [FK_ExpenditureInvoices_Clients]
GO
ALTER TABLE [dbo].[IncomingInvoices]  WITH CHECK ADD  CONSTRAINT [FK_IncomingInvoices_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[IncomingInvoices] CHECK CONSTRAINT [FK_IncomingInvoices_Suppliers]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Employees] FOREIGN KEY([Responsible])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Employees]
GO
ALTER TABLE [dbo].[ProductsExpenditureInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ProductsExpenditureInvoices_ExpenditureInvoices] FOREIGN KEY([ExpenditureInvoiceID])
REFERENCES [dbo].[ExpenditureInvoices] ([ExpenditureInvoiceID])
GO
ALTER TABLE [dbo].[ProductsExpenditureInvoices] CHECK CONSTRAINT [FK_ProductsExpenditureInvoices_ExpenditureInvoices]
GO
ALTER TABLE [dbo].[ProductsExpenditureInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ProductsExpenditureInvoices_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductsExpenditureInvoices] CHECK CONSTRAINT [FK_ProductsExpenditureInvoices_Products]
GO
ALTER TABLE [dbo].[ProductsIncomingInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ProductsIncomingInvoices_IncomingInvoices] FOREIGN KEY([IncomingInvoiceID])
REFERENCES [dbo].[IncomingInvoices] ([IncomingInvoiceID])
GO
ALTER TABLE [dbo].[ProductsIncomingInvoices] CHECK CONSTRAINT [FK_ProductsIncomingInvoices_IncomingInvoices]
GO
ALTER TABLE [dbo].[ProductsIncomingInvoices]  WITH CHECK ADD  CONSTRAINT [FK_ProductsIncomingInvoices_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductsIncomingInvoices] CHECK CONSTRAINT [FK_ProductsIncomingInvoices_Products]
GO
ALTER TABLE [dbo].[ProductsInventory]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInventory_Inventory] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[ProductsInventory] CHECK CONSTRAINT [FK_ProductsInventory_Inventory]
GO
ALTER TABLE [dbo].[ProductsInventory]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInventory_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductsInventory] CHECK CONSTRAINT [FK_ProductsInventory_Products]
GO
ALTER TABLE [dbo].[ProductsInWarehouses]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInWarehouses_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductsInWarehouses] CHECK CONSTRAINT [FK_ProductsInWarehouses_Products]
GO
ALTER TABLE [dbo].[ProductsInWarehouses]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInWarehouses_Warehouses] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[ProductsInWarehouses] CHECK CONSTRAINT [FK_ProductsInWarehouses_Warehouses]
GO
ALTER TABLE [dbo].[SuppliersOrders]  WITH CHECK ADD  CONSTRAINT [FK_SuppliersOrders_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SuppliersOrders] CHECK CONSTRAINT [FK_SuppliersOrders_Products]
GO
ALTER TABLE [dbo].[SuppliersOrders]  WITH CHECK ADD  CONSTRAINT [FK_SuppliersOrders_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[SuppliersOrders] CHECK CONSTRAINT [FK_SuppliersOrders_Suppliers]
GO
USE [master]
GO
